<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Incoming Event
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Date</th>
              <th>Organizer</th>
              <th>By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>IOTA Pulau Indah</td>
              <td>09 Julai 2017</td>
              <td>KLDX</td>
              <td>9M2VDX</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Larian Amateur Radio</td>
              <td>09 Ogos 2017</td>
              <td>MARTS</td>
              <td>9M2PRO</td>
            </tr>
            <tr>
              <td>3</td>
              <td>JOTA Kebangsaan 2017</td>
              <td>22 June 2017</td>
              <td>Persatuan Pengakap Malaysia</td>
              <td>9W2FOR</td>
            </tr>
            <tr>
              <td>4</td>
              <td>DXing Puncak Alam</td>
              <td>25 Julai 2017</td>
              <td>v20 Puncak Alam</td>
              <td>9M2ROL</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button type="button" name="button" class="btn btn-primary btn-sm">view more</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">14</span> Cras justo odio</li>
      <li class="list-group-item"><span class="badge">43</span> Dapibus ac facilisis in</li>
      <li class="list-group-item"><span class="badge">73</span> Morbi leo risus</li>
      <li class="list-group-item"><span class="badge">22</span> Porta ac consectetur ac</li>
      <li class="list-group-item"><span class="badge">12</span> Vestibulum at eros</li>
      <li class="list-group-item"><span class="badge">04</span> Morbi leo risus</li>
      <li class="list-group-item"><span class="badge">46</span> Porta ac consectetur ac</li>
      <li class="list-group-item"><span class="badge">24</span> Vestibulum at eros</li>
    </ul>
  </div>
</div>
<!-- section 2 -->
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><span class="badge">14</span> Cras justo odio</li>
      <li class="list-group-item"><span class="badge">43</span> Dapibus ac facilisis in</li>
      <li class="list-group-item"><span class="badge">73</span> Morbi leo risus</li>
      <li class="list-group-item"><span class="badge">22</span> Porta ac consectetur ac</li>
      <li class="list-group-item"><span class="badge">12</span> Vestibulum at eros</li>
      <li class="list-group-item"><span class="badge">04</span> Morbi leo risus</li>
      <li class="list-group-item"><span class="badge">46</span> Porta ac consectetur ac</li>
      <li class="list-group-item"><span class="badge">24</span> Vestibulum at eros</li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Incoming Contest (World)
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Date</th>
              <th>Organizer</th>
              <th>By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>IOTA Pulau Indah</td>
              <td>09 Julai 2017</td>
              <td>KLDX</td>
              <td>9M2VDX</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Larian Amateur Radio</td>
              <td>09 Ogos 2017</td>
              <td>MARTS</td>
              <td>9M2PRO</td>
            </tr>
            <tr>
              <td>3</td>
              <td>JOTA Kebangsaan 2017</td>
              <td>22 June 2017</td>
              <td>Persatuan Pengakap Malaysia</td>
              <td>9W2FOR</td>
            </tr>
            <tr>
              <td>4</td>
              <td>DXing Puncak Alam</td>
              <td>25 Julai 2017</td>
              <td>v20 Puncak Alam</td>
              <td>9M2ROL</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button type="button" name="button" class="btn btn-primary btn-sm">view more</button>
      </div>
    </div>
  </div>
</div>
